.advanced-filter {
    height: 15rem;

    &__form {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        @media only screen and (max-width: 720px) {
            flex-direction: column;
        }
    }

    &__input {
        width: 25rem;
    }
}